.card, .btn, .form-control
{
    margin-top: 5px;
}

.btn-secondary {
    margin-bottom: 20px;
    margin-right: 400px;
}

.list-format
{
    font-size: larger;
}

.column {
  width: 50%;
  padding: 0.5em;
}

.card {
  padding: 0.5em;
  margin-bottom: 10px;
  background-color: inherit;
}
